@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

:root {
  --primary: #5a95f4;
  --blue-light: #b2c3df;
  --blue-lighter: #ddeaff;
  --font-sans:
    "Atkinson Hyperlegible", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

html {
  font-size: var(--base-font-size);
}
body {
  font-family: var(--font-sans);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
